.container {
   width: 90%;
   display: flex;
   justify-content: center;
   margin: 3rem auto;
}

.questionanswer{
   position: relative;
   width: 70%;
   z-index: 1;
}

.questionanswer__question {
   position: relative;
   height: 120px;
   width: 100%;
   height: auto;
   /* top: 0;
   left: 0; */
   display: flex;
   justify-content: start;
   border: 3px black solid;
}

.questionanswer__question__imgcontainer {
   position: relative;
   width: 130px;
   background-color: black;
}

.questionanswer__question__imgcontainer img{
   position: absolute;
   top: -20px;
   left: 20%;
   height: 100%;
}


.questionanswer__question__question-container {
   width: 100%;
   background-color: white;
   padding: 1.5rem;
   font-size: 28px;
   font-weight: 800;   
}

.questionanswer__answer {
   position: absolute;
   background-color: #F0F0F0;
   top:50px;
   left:7%;
   /* right: -9%; */
   z-index: -1;  
   padding: 1rem;
   text-align: right;
   height: 140px;
   width: 100%;
}

.questionanswer__answer--expanded {
   background-color: #FFDD00;
}


.questionanswer__answer__answer-container--collapsed {
   max-height: 0;
   opacity: 0;
   visibility: hidden;
   transition: max-height 1s;
   background-color:  #F0F0F0; 
}



.questionanswer__answer__answer-container--expanded {
   max-height: 100vh;
   opacity: 1;
   visibility: visible;
   font-size: 22px;
   padding: 1.8rem;
   background-color: #FFDD00;
   text-align: justify;
   line-height: 44px;
}


@media screen and (max-width: 1100px) {
   .questionanswer__answer {
      left: 9%;
   }
}